<div class="form-row">
  <div class="form-group">
    <%= form.label :cpu %>
    <%= form.text_field :cpu, name: "product[desktop_pc_attributes][cpu]", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :ram_size %>
    <%= form.text_field :ram_size, name: "product[desktop_pc_attributes][ram_size]", class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="form-group">
    <%= form.label :storage_capacity %>
    <%= form.text_field :storage_capacity, name: "product[desktop_pc_attributes][storage_capacity]", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :storage_type %>
    <%= form.text_field :storage_type, name: "product[desktop_pc_attributes][storage_type]", class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="form-group">
    <%= form.label :gpu %>
    <%= form.text_field :gpu, name: "product[desktop_pc_attributes][gpu]", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :form_factor %>
    <%= form.text_field :form_factor, name: "product[desktop_pc_attributes][form_factor]", class: "form-control" %>
  </div>
</div>
